body {
    display: block;
    margin: 0px;
}
img {
    width: 100%;
    height: auto;
}
.page{
    height: 100vh;
    width: 100vw;
    display: flex;

}

.header{
    display: flex;

    height: 20vh;
    flex-direction: column;
    justify-content: center;


}
.cont{
    width: auto;
    display: flex;
    z-index: 1;
    padding-top: 2vh;
    height: 100vh;
    text-align: center;
    font-size: 3vh;
    justify-content: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.86),
            rgba(0, 0, 0, 0.86)
    ),url('../img/2.jpg');

    background-position: center;
    background-size:cover ;
}
.contenupage{
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 3vh;
    justify-content: center;
}
#formulairecnx{
    padding: 0px;
    width: 100vw;
    color: #989898;
    position: absolute;
    justify-content: center;

}
#formulairergst{
    color: #989898;
    position: center;
    justify-content: center;
    left: 45vw;

}

.tableau{
    border: solid 1px black;
}
.tab{
    border: solid 1px black;
}


.contenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.menu {

    border:black solid 1px;
    border-bottom: hidden;
    border-right: hidden;
    border-left: hidden;
    height: 20vh;
    background-color: gray;
    display: flex;
    order: 2;
    flex-direction: row;
}
 #titrecnx{
       position: center;
       width: auto;
       height: auto;
       left: 15vw;
 }
#titrecreation{
    position: center;
    width: auto;
    height: auto;
    left: 15vw;
}



.choixvehicule{
    

}

.btnenvoi{
    justify-content: center;
    width: 50vw;
    position: absolute;
    box-shadow:3px 3px 12px #000000;
    font-size: 3vh;
    border-radius: 8px;
    background: rgba(149, 152, 144, 0.56);

}



.logo{
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),url('../img/ConnectyCAr.png');
    background-color: black;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;

    order: 1;
    height: 80vh;
}
/* modification des boutons*/

.btn{

    width: 100vw;
    border: solid 1px black;
    box-shadow:3px 3px 12px #000000;
    padding: 1px;
    border-radius: 8px;
    background: rgba(149, 152, 144, 0.56);

}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.btn:active {
    position:relative;
    top:1px;
    }



@media only screen and (max-width: 900px) {
    /* Style adjustments for viewports that meet the condition */
    .texte {
        border: 1px black solid;
        background-color: red;
        border-top: hidden;
        border-bottom: hidden;
        display: flex;
        flex-grow: 2.5;
        font-size: 5vh;
        text-align: center;
    }






}